// Here you can add other styles
$a-tags: "a, a:active, a:hover, a:visited";
#{$a-tags} {
  text-decoration: none;
}
.overflow-table {
  display: block;
  max-width: -moz-fit-content;
  max-width: fit-content;
  overflow-x: auto;
  white-space: nowrap;
}
.edit_text {
  width: 22%;
}

.highlighted-row {
  background-color: yellow;
}

.past-row {
  background-color: #f2f2f2;
}
//blogEditor in CreateBlog.jsx
.blog-content {
  // background-color: #f4f4f4;
  // border: 1px solid black;
  height: 20rem;
  scrollbar-width: none;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 0px 0px 10px 10px;
}
.blog-toolbar {
  background-color: #f2f2f2;
}

/* Reset global theme color variables coming from CoreUI/Bootstrap so
   app-level colors are easier to customize. This neutralizes the
   precompiled :root variables and lets component-level styles take
   precedence. Adjust or remove entries below if you want specific
   theme colors instead of clearing them. */
:root {
  --cui-primary: initial;
  --cui-white: initial;
  --cui-gray: initial;
  --cui-gray-dark: initial;
  --cui-gray-100: initial;
  --cui-gray-200: initial;
  --cui-gray-300: initial;
  --cui-gray-400: initial;
  --cui-gray-500: initial;
  --cui-gray-600: initial;
  --cui-gray-700: initial;
  --cui-gray-800: initial;
  --cui-gray-900: initial;
  --cui-primary: initial;
  --bs-body-bg: initial;
  --bs-body-color: initial;
  --bs-primary: initial;
  --bs-link-color: initial;
}
